name="MG.Wizard_ENG_V.4"
url="https://dl.dropboxusercontent.com/content_link/OPf1vE98V7WcmtdISDGChvRqo4LPS1VNFrL3PNWiE7HKhwxEcUDgI5MxDNEgp7lA/file?dl=1"
img="http://mg.esy.es/Kodi/Logo/icon.jpg"
fanart="http://mg.esy.es/Kodi/Logo/MG.es.jpg"
description="MG.Wizard_ENG_V.4.zip(Kodi 16.0)"


name="MG.Wizard_ENG_V.3"
url="https://dl.dropboxusercontent.com/content_link/psV3MDgz3Kpcnf1spelcVXahUo1nLbfcXAQrDn3OGM6Dws4xq2dHVxh0RFzgPirm/file?dl=1"
img="http://mg.esy.es/Kodi/Logo/icon.jpg"
fanart="http://mg.esy.es/Kodi/Logo/MG.es.jpg"
description="MG.Wizard_ENG_V.3(Kodi 16.0)"

name="MG.Wizard_ENG_V.2"
url="https://dl.dropboxusercontent.com/content_link/eLYrJQ210h2WWCH28N4U8rTI5wRfmikffPS6m8zXu8RIaLlJvqhz7vqPhRmK0heb/file?dl=1"
img="http://mg.esy.es/Kodi/Logo/icon.jpg"
fanart="http://mg.esy.es/Kodi/Logo/MG.es.jpg"
description="MG.Wizard_ENG_V.2"

name="MG.Wizard_Arab_V.2"
url="https://dl.dropboxusercontent.com/content_link/LmPZgvYNdoTze05Cg7sj1ExMsL44zPglOgEGK3W33jOKWoZRW3cIl4a2wb4jtIew/file?dl=1"
img="http://mg.esy.es/Kodi/Logo/icon.jpg"
fanart="http://mg.esy.es/Kodi/Logo/MG.es.jpg"
description="MG.Wizard_Arab_V.2"

name="MG.Wizard_V.1"
url="https://content.spaces.hightail.com/api/v1/download/sp-e92a9b2b-3a33-42d6-92dd-b00fdf4a4215/fi-b44cd99e-b19b-4899-a2bb-b17bf7b5c1e0/fv-79a6d07d-0511-410d-adae-0107e5a02cf8/MGWizard_v0.1.zip?redirectOnError=https%3A%2F%2Fspaces.hightail.com%2Fdownload-error%3FspaceId%3Dsp-e92a9b2b-3a33-42d6-92dd-b00fdf4a4215%26fileId%3Dfi-b44cd99e-b19b-4899-a2bb-b17bf7b5c1e0%26versionId%3Dfv-79a6d07d-0511-410d-adae-0107e5a02cf8"
img="http://mg.esy.es/Kodi/Logo/MG01.jpg"
fanart="http://mg.esy.es/Kodi/Logo/MG.es.jpg"
description="MG.Wizard V.1"

name="MG.Wizard_Arab_V.1"
url="https://dl.dropboxusercontent.com/content_link/Fujq5AHLMKEtSyy2c0lNl1kMMRyEHXXD0HzXxMlBjv4OgK0CILmq9T2guAZJsldp/file?dl=1"
img="http://mg.esy.es/Kodi/Logo/Arabic.jpg"
fanart="http://mg.esy.es/Kodi/Logo/MG.es.jpg"
description="MG.Wizard_Arab_V.1"
